.container{
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

header.container{
    background-color:#0f2499;
    color:#fff;
    padding: 20px 0;
    text-align: center;
}

nav.primary{
    margin-top:20px
}

nav.primary ul {
    list-style: none;
    padding:0;
    margin:0;
}

nav.primary ul li {
    display:inline;
    margin-right:20px;
}

nav.primary ul li a {
    color:#fff;
    text-decoration:none;
}

main.container{
    padding:20px 0;
    display:grid;
    grid-template-columns:1fr;
    grid-gap:20px;
}

.page-title{
    text-align:center;
}

.bio{
    margin-top:20px;
}

.details{
    margin-top:20px;
}

.related-links{
    text-align:center;
}

.related-links li{
    display:inline;
    margin-right:10px;
}

.related-links li a {
    color:#333;
}

#skills ul {
    list-style:none;
    padding:0;
    display:grid;
    gird-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap:10px;
}

.skill{
    background-color:#f0f0f0;
    color:#333;
    padding:5px 10px;
    text-align:center:center;
}

#experience .job{
    display:grid;
    grid-template-columns:1fr;
    grid-gap:10px;
}

footer {
    text-align:center;
    padding:20px 0;
    background-color:#333;
    color:#fff;
}