.container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  max-width:83.333%;
  margin: 20px auto;
}

header, footer{
  background-color:#003049;
  padding:25px;
}

#content{
  background-color:#D62828;
  padding:25px;
}

#aside{
  background-color:#F77F00;
  padding:25px;
}

.post {
  background:#ffffff;
  padding:25px;
}

