.container{
  max-width:83.333%;
 margin:20px auto;
}

header, footer{
  width:100%;
  background-color:#003049;
  padding:28px;
  box-sizing:border-box;
}

#content{
  background-color:#D62828;
  width:66%;
  padding:28px;
  box-sizing:border-box;
}

#aside{
  width:22%;
  background-color:#F77F00;
  padding:28px;
  box-sizing:border-box;
}

.post {
  background:#ffffff;
  padding:28px;
  width:100%;
  cler:both;
  box-sizing:border-box;
}
